#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#template-container, #container {
    position: absolute;
    width: 97%;
    bottom: 0;
    height: calc(100% - 120px);
}