.font-hei {
  font-family: "Apple LiGothic Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "Hiragino Sans GB", "ST Heiti", "WenQuanYi Zen Hei", sans-serif;
}
.show-ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-transition {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.clear-float:after {
  content: "";
  display: block;
  clear: both;
}
img {
  display: block;
}
.disable-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile-home-timeline-container {
  position: relative;
  font-size: 10px;
  overflow: hidden;
  font-family: "Apple LiGothic Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "Hiragino Sans GB", "ST Heiti", "WenQuanYi Zen Hei", sans-serif;
}
.mobile-home-timeline-container p {
  margin: 0;
  text-indent: 0;
}
.mobile-home-timeline-container .scroll-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.mobile-home-timeline-container .scroll-content .timeline-entry {
  position: relative;
  float: left;
  margin-top: .8em;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2.4em;
  background-color: rgba(16, 198, 220, 0.9);
  z-index: 10;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-header p.entry-group {
  position: absolute;
  top: 0;
  left: 0;
  right: 4.8em;
  bottom: 0;
  padding-left: .5em;
  line-height: 2.4em;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-date {
  position: absolute;
  top: -0.6em;
  right: .6em;
  width: 3.6em;
  height: 3.6em;
  padding: .6em 0;
  border-radius: 3.6em;
  color: white;
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  background-color: #ed6d7f;
  box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-cover {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.4em;
  background-color: rgba(16, 198, 220, 0.9);
  z-index: 10;
}
.mobile-home-timeline-container .scroll-content .timeline-entry .entry-footer p.entry-title {
  position: relative;
  width: 100%;
  height: 2.4em;
  line-height: 2.4em;
  padding-left: .5em;
  color: white;
  font-size: 1em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mobile-detail-timeline-container {
  position: relative;
  font-size: 10px;
  overflow: hidden;
  font-family: "Apple LiGothic Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "Hiragino Sans GB", "ST Heiti", "WenQuanYi Zen Hei", sans-serif;
}
.mobile-detail-timeline-container p {
  margin: 0;
  text-indent: 0;
}
.mobile-detail-timeline-container .scroll-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry {
  position: relative;
  float: left;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry img.entry-cover {
  position: relative;
  width: 100%;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-footer {
  position: relative;
  height: 125px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #3ccee0;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-footer p.entry-group {
  position: relative;
  font-size: 36px;
  line-height: 46px;
  height: 46px;
  z-index: 100;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-footer p.entry-title {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  height: 28px;
  z-index: 100;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-footer p.entry-time-location {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  height: 26px;
  z-index: 100;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-expand-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-expand-box .expand-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(60, 206, 224, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
  z-index: 50;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-expand-box .expand-wrapper:before {
  content: url("./dots.svg");
  display: block;
  position: relative;
  width: 44px;
  height: 4px;
  margin-left: 50%;
  left: -22px;
  margin-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile-detail-timeline-container .scroll-content .timeline-entry .entry-expand-box .expand-wrapper p.entry-description {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  padding: 20px 20px;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.desktop-timeline-container {
  position: relative;
  overflow: hidden;
  font-family: "Apple LiGothic Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "Hiragino Sans GB", "ST Heiti", "WenQuanYi Zen Hei", sans-serif;
}
.desktop-timeline-container p {
  margin: 0;
  text-indent: 0;
}
.desktop-timeline-container .main-panel {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.desktop-timeline-container .main-panel .scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.desktop-timeline-container .main-panel .scroll-content:after {
  content: "";
  display: block;
  clear: both;
}
.desktop-timeline-container .main-panel .scroll-content .timeline-entry {
  position: relative;
  float: left;
  height: 100%;
  margin: 0 50px;
}
.desktop-timeline-container .main-panel .scroll-content .timeline-entry img.entry-cover {
  display: block;
  position: relative;
}
.desktop-timeline-container .main-panel .scroll-content .timeline-entry p.entry-description {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1.8em;
  overflow-y: auto;
}
.desktop-timeline-container .main-panel:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(to right, white, transparent 50px), -webkit-linear-gradient(to left, white, transparent 50px);
  background: -moz-linear-gradient(to right, white, transparent 50px), -moz-linear-gradient(to left, white, transparent 50px);
  background: linear-gradient(to right, white, transparent 50px), linear-gradient(to left, white, transparent 50px);
  z-index: 20;
}
.desktop-timeline-container .control-panel {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.desktop-timeline-container .control-panel:after {
  content: "";
  display: block;
  clear: both;
}
.desktop-timeline-container .control-panel .button-left {
  display: block;
  position: absolute;
  left: 5px;
  top: 45px;
  width: 20px;
  height: 40px;
  padding: 5px;
  z-index: 50;
  cursor: pointer;
  background-image: url('./left-arrow.svg');
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.desktop-timeline-container .control-panel .button-left:hover {
  left: 0;
}
.desktop-timeline-container .control-panel .button-left:active {
  left: -5px;
}
.desktop-timeline-container .control-panel .button-left.disabled {
  cursor: default;
  left: 5px;
}
.desktop-timeline-container .control-panel .button-left.disabled path {
  fill: #aaaaaa;
}
.desktop-timeline-container .control-panel .button-right {
  display: block;
  position: absolute;
  right: 5px;
  top: 45px;
  width: 20px;
  height: 40px;
  padding: 5px;
  z-index: 50;
  cursor: pointer;
  background-image: url('./right-arrow.svg');
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.desktop-timeline-container .control-panel .button-right:hover {
  right: 0;
}
.desktop-timeline-container .control-panel .button-right:active {
  right: -5px;
}
.desktop-timeline-container .control-panel .button-right.disabled {
  cursor: default;
  right: 5px;
}
.desktop-timeline-container .control-panel .button-right.disabled path {
  fill: #aaaaaa;
}
.desktop-timeline-container .control-panel .scroll-info {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.desktop-timeline-container .control-panel .scroll-info:after {
  content: "";
  display: block;
  clear: both;
}
.desktop-timeline-container .control-panel .scroll-info .entry-info {
  position: relative;
  margin: 0 50px;
  float: left;
}
.desktop-timeline-container .control-panel .scroll-info .entry-info p.entry-group,
.desktop-timeline-container .control-panel .scroll-info .entry-info p.entry-time,
.desktop-timeline-container .control-panel .scroll-info .entry-info p.entry-location {
  position: relative;
  font-size: 18px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.desktop-timeline-container .control-panel .scroll-info .entry-info p.entry-title {
  position: relative;
  color: #4585b5;
  font-size: 36px;
  font-weight: bold;
  height: 48px;
  width: 100%;
  line-height: 44px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.desktop-timeline-container .control-panel:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(to right, white, transparent 50px), -webkit-linear-gradient(to left, white, transparent 50px);
  background: -moz-linear-gradient(to right, white, transparent 50px), -moz-linear-gradient(to left, white, transparent 50px);
  background: linear-gradient(to right, white, transparent 50px), linear-gradient(to left, white, transparent 50px);
  z-index: 20;
}
.desktop-timeline-container .date-panel {
  position: relative;
  border-top: 1px solid #4584b5;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.desktop-timeline-container .date-panel:after {
  content: "";
  display: block;
  clear: both;
}
.desktop-timeline-container .date-panel:before {
  content: url("./down-arrow.svg");
  display: block;
  position: relative;
  margin-left: 50%;
  top: -1px;
  left: -8px;
  width: 15px;
  height: 8px;
  z-index: 10;
  pointer-events: none;
}
.desktop-timeline-container .date-panel .scroll-date {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 490px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.desktop-timeline-container .date-panel .scroll-date p.entry-date {
  position: relative;
  float: left;
  width: 64px;
  height: 34px;
  font-size: 14px;
  color: #aaaaaa;
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
  margin: 0 3px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.desktop-timeline-container .date-panel .scroll-date p.entry-date:before {
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  left: 50%;
  border-right: 1px solid #aaaaaa;
}
.desktop-timeline-container .date-panel .scroll-date p.highlight {
  color: #4584b5;
  font-weight: bold;
}
.desktop-timeline-container .date-panel:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(to right, white, transparent 10%, transparent 90%, white);
  background: -moz-linear-gradient(to right, white, transparent 10%, transparent 90%, white);
  background: linear-gradient(to right, white, transparent 10%, transparent 90%, white);
  z-index: 20;
}
