.ease {
    transition: all 0.3s ease;
}
* {
    font-family: "Droid Sans Fallback";
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #00b9d1;
}
html {
    overflow-y: visible;
    overflow-x: hidden;
}
body {
	width: 100%;
    background: #eee;
    height: auto;
    overflow-y: visible;
    margin: 0;
}
#topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 10;
    background-color: #10C6D7;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
#topbar:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    z-index: 10;
}
#topbar-menu {
    position: absolute;
    width: 56px;
    height: 56px;
    text-align: center;
    vertical-align: top;
}
#topbar-menu:active {
    background: rgba(255,255,255,0.5);
}
#topbar-menu-icon {
    position: absolute;
    height: 56px;
    left: 18px;
    width: 21px;
    transform-origin: 50% 50%;
}
#topbar-logo {
    position: absolute;
    top: 0;
    left: 56px;
    display: block;
    height: 100%;
}
#topbar-logo:active {
    background: rgba(255,255,255,0.5);
}
#topbar-title {
    position: absolute;
    left: 165px;
	display			: block;
	font-size		: 20px;
	line-height		: 56px;
	color			: #FFF;
}
#topbar-title a {
    color: #fff;
    font-size: 18px;
}
.topbar-search-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 56px;
    /*background-color: #10C6D7;*/
}
#topbar-search-icon {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
}
.topbar-search-active {
    left: 0 !important;
}
#topbar-search-icon:active {
    background: rgba(255,255,255,0.5);
}
#topbar-search-input {
    border: none;
    outline: none;
    padding: 18px 0 0 0;
    left: 56px;
    position: absolute;
    width: 80%;
    font-size: 18px;
    color: #fff;
    height: 20px;
    background: none;
    border-bottom: 1px solid #fff;
}
#sidebar {
    height: 100%;
    width: 62%;
    left: -62%;
    position: fixed;
    z-index: 8;
    background-color: #FFF;
    top: 56px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
#sidebar-external-links {
	display	: none;
}
#sidebar-top {
	display				: block;
	width				: 100%;
	height				: 64px;
	background-color	: #4585B5;
}
#sidebar-logo {
	display	: none;
}
#cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#user-head {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    left: 16px;
    border-radius: 300px;
}
#user-id {
    font-size: 18px;
    line-height: 64px;
    color: #FFF;
    left: 78px;
    position: absolute;
    font-weight: normal;
}
#user-id a {
    color: #fff;
}
#sidebar-sections {
    width: 100%;
    left: 0;
    top: 64px;
}
.sidebar-section-title {
    display: block;
    position: absolute;
    width: 11%;
    right: 0;
    padding: 0 7% 0 7%;
    line-height: 14px;
    z-index: 1;
    background: #fff;
}
.sidebar-section:nth-child(1) .sidebar-section-title {  /* magic number here... */
    padding-top: 78px;
    height: 100%;
}
.sidebar-section:nth-child(1) .sidebar-section-title:active {
    background: #b3d7ff;
    color: #4585b5;
}
.sidebar-section:nth-child(2) .sidebar-section-title {  /* magic number here... */
     padding-top: 24px;
     height: 100%;
}
.sidebar-section:nth-child(3) .sidebar-section-title {  /* magic number here... */
     padding-top: 24px;
     height: 100%;
}
.sidebar-section {
	width: 100%;
	font-size: 14px;
	line-height		: 40px;
	margin			: 0;
    position: relative;
    overflow: hidden;
}
.sidebar-section path {
    fill: #757575;
}
.sidebar-section hr {
	display	: none;
}
.sidebar-section:nth-child(1) {
	border-bottom	: 2px solid #4585B5;
}
.sidebar-section:nth-child(2) {
	border-bottom	: 2px solid #E7485E;
}
.sidebar-section:nth-child(3) {
	border-bottom	: 2px solid #27AE60;
}
.sidebar-section:nth-child(1) .sidebar-item-current {
	background-color	: #B3D7FF;
	color				: #4585b5;
}
.sidebar-section:nth-child(2) .sidebar-item-current {
    background-color	: #ffd9df;
    color				: #ed6d7f;
}
.sidebar-section:nth-child(3) .sidebar-item-current {
    background-color	: #d9ffe9;
    color				: #27ae60;
}
/*.sidebar-section:nth-child(1) .sidebar-item-current path {*/
	/*fill: #4585b5;*/
/*}*/
/*.sidebar-section:nth-child(2) .sidebar-item-current path {*/
    /*fill: #ed6d7f;*/
/*}*/
/*.sidebar-section:nth-child(3) .sidebar-item-current path {*/
    /*fill: #27ae60;*/
/*}*/
.sidebar-item {
	width				: 100%;
	height				: 36px;
	line-height			: 36px;
	background-color	: #FFF;
    position: relative;
    color: #212121;
    text-align: left;
    vertical-align: text-bottom;
    cursor: pointer;
    display: block;
}
.sidebar-item:nth-child(1):active {
	background: #d9ebff;
    color: #d9ebff;
}
.sidebar-item:nth-child(2):active {
	background: #d9ffe9;
    color: #d9ffe9;
}
.sidebar-item:nth-child(3):active {
	background: #ffd9df;
    color: #ffd9df;
}
.sidebar-icon {
    position: relative;
	width	: 24px;
	height	: 24px;
	left	: 18px;
    top: 6px;
	float	: left;
    margin: 0 38px 0 0;
}
#sidebar-copyright {
	width		: 50vw;
	left		: 0;
	bottom		: 0;
	padding		: 20px 0;
	text-align	: center;
}
#cover {
	width				: 100%;
    height	    		: 100%;
	position			: fixed;
	top					: 0;
	left				: 0;
	z-index: -1;
	background-color	: #000;
    opacity: 0;
    display: none;
}
#book-container {
    width: 100%;
    position: relative;
    top: 56px;
    left: 0;
    background: #eee;
    margin: 0;
    visibility: visible;
    box-shadow: none;
}
#book-container:before {
	display	: none;
}
#book-loading-shade {
	display	: none;
}

/* Wordpress wrapper */
#wp-wrapper {
    width: 100%;
    position: absolute;
    top: 56px;
    left: 0;
    background: #eee;
    margin: 0;
    visibility: visible;
    height: auto;
    min-height: 100%;
}
.wp-item {
	height				: 96px;
	margin				: 0 18px 5px 18px;
	background-color	: #FFF;
	border-right		: 3px inset #10C6DC;
    border-radius: 2px;
    position: relative;
    float: left;
    clear: both;
    overflow: hidden;
    cursor: pointer;
    color: #4585B5;
    display: block;
}
.wp-item:first-child {
    margin-top: 10px;
}
.wp-item-text {
    position: relative;
    left: 0;
    height: 72px;
    width: 94%;
    margin: 12px;
    top: 0;
    padding: 0;
}
.wp-item-text h3 {
    margin: 0 0 4px 0;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wp-item-metadata {
    display: none;
}
.wp-item-excerpt {
    display: block;
    height: 92px;
    line-height: 16px;
    font-size: 12px;
    text-overflow: ellipsis;
    margin: 0;
    max-height: 4em;
    overflow: hidden;
    color: #333;
}
.wp-thumbnail {
	display				: inline-block;
	width				: 150px;
	height				: 150px;
	background-color	: #FFF;
}
.wp-item img {
	width: 96px;
	height: 96px;
    margin: 0 12px 0 0;
    float: left;
}
.wp-entry-thumbnail {
    position: relative;
    width: 100%;
    z-index: 0;
}
.wp-entry-meta {
    margin: 0;
    height: 256px;
    width: 100%;
    position: relative;
    top: -56px;
    overflow: hidden;
}
.wp-entry-meta:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 150px 70px rgba(0,0,0,0.5);
    z-index: 1;
}
#wp-entry-meta-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.wp-entry-title {
    position: relative;
    margin: 18px 18px 10px 18px;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
}
.wp-entry-author {
	margin: 0 18px 18px 18px;
	font-size	: 14px;
	color		: #FFF;
}
.wp-entry-author a {
	font-size	: 14px;
}
.wp-entry-content {
    position: relative;
    top: -56px;
    margin: auto 0;
    padding: 18px;
    background-color: #FFF;
    border-bottom: 2px solid #aaa;
}
.wp-entry-content p {
	display		: block;
	font-size	: 16px;
	line-height	: 28px;
}
.wp-entry-content img {
    margin: 18px 0 18px 0;
    text-indent: 0;
    width: 100%;
    display: block;
}
.wp-entry-comments {
    position: relative;
    height: auto;
    top: -56px;
    width: 100%;
}
#wp-comments-form-title {
    margin: 18px 18px 5px 18px;
    line-height: 18px;
    font-size: 18px;
    color: #999;
}
#wp-reply-form {
    margin: 0 18px 18px 18px;
    width: auto;
}
#wp-reply-form input {
    height: 15px;
    line-height: 25px;
    width: 94%;
    padding: 3%;
}
#wp-reply-form textarea, #wp-reply-form input {
    background: #fff;
    border-radius: 3px;
}
#wp-reply-form textarea {
    height: 150px;
    float: left;
    width: 83%;
    padding: 5px 14% 5px 3%;
}
#wp-reply-form button[name='submit'] {
    border-bottom: 3px solid #ed6d7f;
    width: 10%;
    position: absolute;
    right: 18px;
    z-index: 111;
    height: 160px;
}
.wp-comment-item {
	width			: 100%;
	height			: auto;
	padding			: 5px 0 10px 0 !important;
	border-bottom	: 2px solid #CCC;
}
.wp-comment-avatar {
    width: 73px;
    height: 73px;
    margin: 18px 6px 18px 18px;
    display: inline-block;
    float: left;
    border-radius: 999px;
    position: relative;
    border: 2px solid rgba(0,0,0,0.3)
}
.wp-comment-avatar img {
	width	: 73px;
	height	: 73px;
	margin	: 0;
}
.wp-comment-text {
    left: 0;
    width: 60%;
    position: relative;
    display: inline-block;
    margin: 16px 2vw;
}
.post-edit-link {
	display	: none;
}
#wp-nav-prev {

}
#message {
	width				: 100vw;
	left				: 0 !important;
	padding				: 60px 0;
	text-align			: center;
	background-color	: #FFF;
	opacity				: 0.8;
}
#akarin {
	left	: auto !important;
	right	: auto !important;
	z-index : -1;
}
#timeline-mobileDetail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    z-index:1
}
#events-wrapper {
    display: none;
}
#timeline-mobileHome {
    margin: 18px;
    width: auto;
}
/*@media (max-width : 480px) {*/

/*#user-head {*/
	/*margin	: 6px 12px 6px 30px;*/
/*}*/
/*.sidebar-item {*/
	/*padding-left	: 20px;*/
/*}*/
/*.sidebar-item svg {*/
	/*display	: none;*/
/*}*/

/*}*/

@media (max-height : 540px) {

#sidebar-copyright {
	display	: none;
}

}
