#wp-wrapper {
	position: relative;
	left: 45px;
	top: 50px;
	z-index: 999;
	width: 50%;
	display: none;
	height: 100%;
}
/*    entry list page    */
a {
	text-decoration: none;
	color: #64a6d4;
}
h3 {
	margin: 1em 0 0.5em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wp-item {
	width: 95%;
	height: 150px;
	position: relative;
	margin: 0 0 15px 0;
	float: left;
	clear: both;
	overflow: hidden;
	cursor: pointer;
	transition: background 0.1s ease;
	color: #4585B5;
}
.wp-item:hover {
	background: #D4EEFF;
}
.wp-item:active {
	background: #BDE4FF;
}
.wp-entrylist-thumbnail {
	position: relative;
	float: left;
	width: 150px;
	height: 150px; 
	margin: 0 20px 0 0;
}
.wp-item-text {
	position: relative;
	padding: 0 20px 0 0;
}
.wp-item-excerpt {
	font-size: 12px;
	line-height: 16px;
	max-height: 4em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
}
.wp-item-metadata {
	font-size: 12px;
	margin: 0 0 1em 0;
	color: #999;
}
/*    single entry page    */
p {
	font-size: 14px;
	line-height: 18px;
    margin:0 0 18px 0;
}
.wp-entry-title {
	margin: 20px 0 20px 0;
	color: #4585B5;
}
.wp-entry-author {
	font-size: 12px;
}
.wp-entry-thumbnail {
	position: relative;
	width: 100% !important;
	max-height: 300px;
}
.wp-fake-thumbnail-wrapper {
	position: relative;
	width: 100% !important;
	top: -50px !important;
	overflow: hidden;
}
.wp-fake-thumbnail {
	position: relative;
	width: 100%;
}
#wp-fake-nav-prev {
	display: none;
}
#wp-fake-nav-next {
	display: none;
}
/*    Comments    */
h2 {
    color: #4585b5;
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 32px;
}
input, textarea {
    border: none;
    background: none;
    outline: none;
    resize: none;
    background: #eee;
    transition: all 0.3s ease;
    margin: 5px 0 0 0;
    padding: 10px;
}
input:focus, textarea:focus {
    background: #bde4ff;
}
input {
    height: 15px;
    line-height: 25px;
    width: 100%;
}
textarea {
    height: 80px;
    float: left;
    width: 77%;
}
button[name='submit'] {
    display: inline-block;
    float: right;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 100px;
    width: 15%;
    margin: 5px 0 0 0;
    transition: all 0.2s ease;
    background: #ffb0bc;
}
button[name='submit']:hover {
    background: #ffd9df ;
}
button[name='submit']:active {
    background: #ed6d7f;
}
.wp-comment-item {
    height: auto;
    float: left;
    clear: both;
    width: 100%;
    padding: 0 0 25px 0 !important;
}
.wp-comment-text {
    position: relative;
    left: 85px;
    top: 5px;
    width: calc(100% - 85px);
    float: left;
}
.wp-comment-avatar {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #fefefe;
}
.wp-comment-avatar img{
    border-radius: 999px;
    /*border: 3px solid #aaa;*/
}
.wp-comment-author {
    font-weight: bold;
    font-size: 14px;
}
.wp-comment-date {
    font-size: 12px;
    color: #999;
    margin: 0 0 5px 0;
}
#wp-reply-form {
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

/*#wp-wrapper {*/
	/*display: block;*/
/*}*/
/*.wp-entry-content {*/
    /*display: none;*/
/*}*/
/*#book-loading-shade {*/
	/*display: none;*/
/*}*/
/*#book-pages {*/
	/*display: none;*/
/*}*/
/*.wp-entry-meta {*/
    /*display: none;*/
/*}*/
